*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */
    .debug #app_header{
        background-color: black;
        height: 70px;
    }

    .debug .left_header{
        height: 35px;
        background-color: darkkhaki;
    }

    .debug .right_header{
        height: 35px;
        background-color: darkgreen;
    }

/* #endregion debug */